body{
    background: black;
    padding: 0;
    margin: 0;
}
.banner img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100svw;
    height: 100svh;
    object-fit: cover;
    opacity: 55%;
    z-index: -1;
}


.headlo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    flex-wrap: nowrap;
  
}
.headlo a{
    text-align: center;
    text-decoration: none;
}
.anulogo{
    max-width:10rem ;
    margin-right: 20px;

}
.fndnlogo{
    max-width: 8rem;
    

}
.title h2{
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Bruno Ace SC', cursive;

    
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: white;
    gap: 1rem;
   
}
.container .card{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 40px 2px 40px 2px;
    margin: 1rem;
    padding: 1rem;
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    border-left: 2px solid rgba(255, 255, 255, 0.4);
    box-shadow: 20px 20px 50px rgba(255, 251, 251, 0.2);
    width: 13rem;
    max-width: 13rem;
    text-align: center;
    font-family: 'poppins', cursive;
    backdrop-filter: blur(10px);
}
.imgbox img{
    margin: 1rem 1rem 0.5rem 1rem;
    max-width: 8rem;
    border-radius: 50%;
}
.content{
   font-size: 15px;
}
.data{
    line-height: 1rem;
}
.data h2{
    line-height: 2rem;
}
.social{
  
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.social a{
    display: inline-flex;
    text-align: center;
    justify-content: center;
    color: #fff;
    font-size: 0.8rem;
    transition: 0.5s;
    text-decoration: none;
}
.social a span{
    margin-top: 1px;
    font-family: poppins;
    font-weight: bold;
}
.social img{
    max-width: 1rem;
    margin: 0 0.5rem;
    transition: 0.5s;
}
